<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Home</h1>
    <% if (locals.user) { %>
    <h2>Welcome <%= user.first_name %> <%= user.last_name %></h2>
    <% } %> <% if (locals.user) { %>
    <div>
      <button><a href="/logout">Logout</a></button>
    </div>
    <% } else { %>
    <div>
      <button type="button"><a href="/login">Login</a></button>
      <button type="button"><a href="/sign-up">Sign up</a></button>
    </div>
    <% } %> <% if (locals.user && locals.user.status === 'guest') { %>
    <article>
      <h2>You not member yet</h2>
      <button type="button"><a href="/join-club">Join The Club!</a></button>
    </article>
    <% } %> <% if (locals.user && locals.user.status === 'member') { %>
    <button type="button"><a href="/message">New message</a></button>
    <% } %>
    <section>
      <% if (locals.messages && locals.user) { %> <% messages.map(msg => { %>
      <article>
        <h3><%= msg.title %></h3>
        <% if (locals.user && locals.user.status === 'member') { %>
        <p style="font-size: 0.8em">
          <%= msg.username %> <%= msg.time.toLocaleString() %>
        </p>
        <% } %>
        <p><%= msg.text %></p>
      </article>
      <% }) %> <% } %>
    </section>
  </body>
</html>
