<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Home</h1>
    <% if (locals.user) { %>
    <h2>Welcome <%= user.first_name %> <%= user.last_name %></h2>
    <% } %> <% if (locals.user) { %>
    <div>
      <button><a href="/logout">Logout</a></button>
    </div>
    <% } else { %>
    <div>
      <a href="/login"><button type="button">Login</button></a>
      <a href="/sign-up"><button type="button">Sign up</button></a>
    </div>
    <% } %> <% if (locals.user && locals.user.status === 'guest') { %>
    <article>
      <h2>You not member yet</h2>
      <a href="/join-club"><button type="button">Join The Club!</button></a>
    </article>
    <% } %> <% if (locals.user) { %>
    <a href="/message"><button type="button">New message</button></a>
    <% } %>
    <section>
      <% if (locals.messages) { %> <% messages.map(msg => { %>
      <article>
        <h3><%= msg.title %></h3>
        <% if (locals.user && locals.user.status === 'member') { %>
        <p style="font-size: 0.8em">
          <%= msg.username %> <%= msg.time.toLocaleString() %>
        </p>
        <% } %>
        <p><%= msg.text %></p>
        <% if (locals.user && user.admin) { %>
        <a href="/message/delete/<%= msg.id %>">
          <button type="button">Delete</button>
        </a>
        <% } %>
      </article>
      <% }) %> <% } %>
    </section>
  </body>
</html>
